@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'F1 Regular';
  src: url('/fonts/Formula1-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F1 Bold';
  src: url('/fonts/Formula1-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'F1 Wide';
  src: url('/fonts/Formula1-Wide.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "F1 Regular";
  letter-spacing: .0125rem;
}